
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="bg">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/dashboard']">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/form-group']">Form Group</a>
        <a class="nav-item nav-link" [routerLink]="['/form-array']">Form Array</a>
        <a class="nav-item nav-link" [routerLink]="['/combination']">Combination</a>
        <a class="nav-item nav-link" [routerLink]="['/form-datatable']">Datatable</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
<!-- The routed views render in the <router-outlet>-->
