<div class="bg">
    <h1>Reactive Forms and Forms Array</h1>
    <p>

        Reactive forms provide a model-driven approach to handling form inputs whose values change over time. <br />
        Where you can update a basic form control, <br />
        using of multiple controls in a group, validate form values, and create dynamic forms where you can add or remove controls at run time.
    </p>

    <p>Used the following websites:</p>

    <label for="">JSON creater:</label
    ><a href="https://www.mockaroo.com/" >&nbsp;Mockaroo</a
    ><br />
    <label for="">JSON-Server:</label><a href="https://www.npmjs.com/package/json-server" >&nbsp;JSON-Server</a>
    <br/>
    <label for="">Udemy Course:</label><a href="https://www.udemy.com/course/the-complete-guide-to-angular-2/learn/lecture/6655772?start=15#overview"s>&nbsp;Udemy Angular Course</a>
</div>
